/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}
@media only screen and (max-width: 920px){
    #botmenu {
          display: none !important;
}
}
@media only screen and (max-width: 920px){
    #nome {
          display: none !important;
}
}
a,
button {
    cursor: pointer;
}

table#features td,
table#features th {
    text-align: center;
}

table#features td img {
    margin: auto;
}

table#features tr td:first-child {
    text-align: left;
}

html, body {
    height: 100%;
}

.jumbotron {
    margin-bottom: 0 !important;
}
.jumbotron.text-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02) !important;
}
.table td, .table th {
    border-top: none !important;
}

.btn-outline-primary {
    color: rgb(31,162,190) !important;
    border-color: rgb(31,162,190) !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: rgb(31,162,190) !important;
}

.atlas-cta {
    /* border-radius: 22px !important; */
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00e69c;
    color: #ffffff;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}
.cta-rock {
    color: #ffffff;
    background: rgb(31,162,190);
}
.cta-rock:hover {
    color: #fff;
}
.parceiros:hover {
    -webkit-filter: grayscale(0%);
}
.parceiros {
    -webkit-filter: grayscale(100%);
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 200px;
}

/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #eaeaea 0);
}

#feature-last {
    background: #eaeaea;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #0052cc;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #0052cc;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #0052cc;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}